{% extends "auctions/layout.html" %}


{% block body %}
    <form class="col-6" action="{% url 'createListing' %}" method="post">
        {% csrf_token %}
        <input class="form-control" type="text" placeholder="Enter a Title here" name="titleInput">
        <br>
        <textarea class="form-control" type="form" name="descriptionInput" placeholder="Enter a description for your listing"></textarea>
        <br>
        <input class="form-control" type="number" placeholder="Enter your starting Bid here" name="startPrizeInput" min="1" value="1">
        <br>
        <input class="form-control" type="url" placeholder="https://example.com" name="imageUrlInput">
        <br>
        <select class="form-control" id="categories" name="categoriesInput" >
            <option value="others">others</option>
            <option value="Household">Household</option>
            <option value="Electronics">Electronics</option>
            <option value="Multimedia">Multimedia</option>
            <option value="Videogames">Videogames</option>
        </select> 
        <br>
        <input class="form-control" type="submit" value="Create">
    </form>

{% endblock %}