{% extends "auctions/layout.html" %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-3 m-2 p-2 " name="listingImage">
                {% if listing.imageUrl is not None %}
                    <img class="col img-responsive rounded-circle mx-auto d-block align-middle"  src="{{ listing.imageUrl }}" alt="Your image" width="25%">
                {% else %}
                    <p>Your image can go here</p>
                {% endif%}
            </div>
            <div class="row col-6 m-2 p-2 bg-white">
                <div class="col-9 bg-white mt-2 ml-2 mb-2 p-2">       
                        <h4> 
                             {{ listing.title }}
                        </h4>
                        <div  name="listingDescription">
                            <p>
                                {{ listing.description }}
                            </p>
                        </div>
                </div>
                <div class="col border-left border-secondary bg-white mr-2 mb-2 mt-2 p-2 name="listingPrize">
                        <h4>Current prize:</h4>
                        {{ listing.listingPrize }} €
                </div>
            </div>
            <div class="col m-2 p-2">
                {% if watchlistCheck == False %}
                    <form action="{% url 'listingDetails' listing.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="submit" class="form-control" value="Add to Watchlist">
                        </div>
                    </form>
                {% else %}
                    <form action="{% url 'listingDetails' listing.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="submit" class="form-control" value="Remove from Watchlist">
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
        <div class="row ">
            <div class="col-3 m-2 p-2"></div>
            <div class="col-6 m-2 p-2 ">
                <form action="{% url 'listingDetails' listing.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="bidPrizeInput">Place your bid here</label>
                        <input type="number" class="form-control" id="bidPrizeInput" name="bidPrize" min="{{ listing.listingPrize|add:1 }}">
                        <input type="submit" class="form-control" value="Place Bid">
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}