{% extends "auctions/layout.html" %}

{% block body %}

<div class="container">
    <h2>Your watchlist</h2>

    {% for watchlistItem in watchlist %}
        <div class="container">
            <div class="row">
                <div class="col-3 m-2 p-2 " name="watchlistItemImage">
                    {% if watchlistItem.imageUrl is not None %}
                        <img class="col img-responsive rounded-circle mx-auto d-block align-middle"  src="{{ watchlistItem.imageUrl }}" alt="Missing image" width="25%">
                    {% else %}
                        <p>Your image can go here</p>
                    {% endif%}
                </div>
                <div class="row col m-2 p-2 bg-white">
                    <div class="col bg-white mt-2 ml-2 mb-2 p-2">       
                            <h4> 
                                <a href="{% url 'listingDetails' watchlistItem.id %}"> {{ watchlistItem.title }}</a>
                            </h4>
                            <div  name="watchlistItemDescription">
                                <p>
                                    {{ watchlistItem.description }}
                                </p>
                            </div>
                    </div>
                    <div class="col-3 border-left border-secondary bg-white mr-2 mb-2 mt-2 p-2" name="watchlistItemPrize" >
                            <h4>Current prize:</h4>
                            {{ watchlistItem.listingPrize }} €
                    </div>
                </div>
            </div>
        </div>
        <br>
    {% endfor %}
</div>
{% endblock %}